body {
    background: #6eead1; 
    font-family: Tahoma, Arial, sans-serif; 
    color: #333;
}
table {
    border-collapse: collapse;
}
p, h4 {
    font-size: 40px; 
    margin-bottom: 0;
}
h4 {
    font-size: 14px; 
}
h1 {
    font-family: serif;
}
ul, ol {
    margin: 0;
}
table tr td {
    padding: 5px;
}
table {
	width: 100%;
}

img {
	height: 30px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}